.modal-title {
  margin-left: 25px;
}
.wifi-connect {
  position: relative;
  margin-left: 25px;
}
.toggle-wrap {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 20px;
  padding: 3px 0;
  margin-left: 14px;
  vertical-align: bottom;
}
.toggle-bar {
  display: inline-block;
  width: 34px;
  height: 14px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.38);
}

.toggle-thumb {
  position: absolute;
  top:0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.active .toggle-bar {
  background-color: rgba(69, 214, 223, 0.38);
}

.active .toggle-thumb {
  left: inherit;
  right: 0;
  background-color: #45d6df;
}

.wifi-list {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin-left: 25px;
}

.btn-wifi {
  display: block;
  margin: 17px 0;
  text-decoration: none;
}

.wifi-name {
  width: 125px;
  height: 15px;
  opacity: 0.5;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style:normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.progress{
  position: absolute;
  top: 3px;
  left: -30px; 
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
  background-color: #fff;
}

@keyframes rotate_image{
  100% {
    transform: rotate(360deg)
  }
}